
  .cabecera{
    background:  #33FFAC;
    border: 1px solid #0000;
  }

.nombre{
    background:  #A6A6A6;
    border: 1px solid #00000;
  }

.miembro{
    background:  #A6A6A6;
    border: 1px solid #00000;
  }



.placa{
    background:  #A6A6A6;
    border: 1px solid #00000;
  }




.imagen{
    background:  #A6A6A6;
    border: 1px solid #00000;
  }